.header_icon_height {
    height: 30px;
}
.header_icon {
    width: 30px;
}
.header_gitbook_icon {
    width: 120px;
}
.header_rg_icon {
    height: 22px;
}

.paper_name_homepage {
    background-color: white;
    font-size: medium;
}
.tech-highlight strong {
    background: linear-gradient(120deg, #e3f2fd 0%, #bbdefb 100%);
    padding: 2px 4px;
    border-radius: 3px;
    /* border-left: 2px solid #1976d2; */
}
.domain-highlight strong {
    background: linear-gradient(120deg, #f3e5f5 0%, #e1bee7 100%);
    padding: 2px 4px;
    border-radius: 3px;
    /* border-left: 2px solid #7b1fa2; */
}
.research_interests {
    font-style: italic;
}
.onlyoneimg{
    width: 60%;
    margin: auto;
}
.onlyoneimg img{
  width: 90%;
  margin: auto;
}
.homepage_onlyoneimg{
  width: 60%;
  margin: auto;
}
.homepage_onlyoneimg img {
  width: 100%;
}

.index-showcase {
  font-style: italic;
  font-size: x-large;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


hr {
  margin: 1.6rem 0;
}


table th,td{
    padding: 10px 3px 10px 5px; 
    border: 1px solid black;
}
table th{
    background-color: #e9ecef;
}
.td_techstack {
    text-align: center;
    width: 10%;
}

.a_link_largersize {
  background-color: e9ecef;
  font-size: x-large;
}

footer {
    width: 100%;
    position:bottom;
    bottom:0;
    left:0;
    text-align: center;
    color: gray;
    /* color: gainsboro; */
    background-color:#e9ecef;
    margin: 0 0 0;
}
footer p {
    margin-bottom: 0;
}

footer a {
    opacity: 0.5;
}



/* nav */

.header_margin_bottom {
  margin-bottom: 0;
}
.a_line_margin {
  margin: 0.5;
}


.mynav {
  background-color:#e9ecef;
  margin: 0 0 32;
  font-weight: 300;
  font-size: xx-large;
}
.mynav li {
  padding-left: 20;
  padding-right: 20;
}
.mynav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0 0 0;
  text-decoration: none;
}  

.mynav .nav-link.active {
  background-color: #dde2e8;
  border-radius: 6px;
}

.a_hover_bottom_whiteline a:hover {
  padding-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 #fff;
}




  .projects_video{
    width: 60%;
    margin: auto;
  }

.paper_type {
    display: inline-block;
    font-style: normal;
    font-size: 0.78rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4b5563;
    background: #eef1f4;
    padding: 0.18rem 0.5rem;
    border-radius: 999px;
    margin: 0 0 0.35rem;
}

.paper_type + h3 {
    margin-top: 0.2rem;
}

.articletitleinnotepage p a {
  font-size: 26px;
}
.articleimg {
  width: 60%;
}
