.header_icon_height {
    height: 30px;
}
.header_icon {
    width: 30px;
}
.header_gitbook_icon {
    width: 120px;
}
.header_rg_icon {
    height: 22px;
}

h2 {
    font-weight: 900;
    font-style: italic;
    text-decoration: underline overline;
}
h4 {
    text-decoration: underline overline;
}

.research_interests {
    font-style: italic;
}

.onlyoneimg{
    width: 100%;
}

table th,td{
    padding: 3px 3px 3px 5px; 
}


footer {
    width: 100%;
    position:bottom;
    bottom:0;
    left:0;
    text-align: center;
    color: gray;
    /* color: gainsboro; */
    background-color:#e9ecef;
    margin: 0 0 0;
}
footer p {
    margin-bottom: 0;
}

footer a {
    opacity: 0.5;
}





/* below are for img slider */

.slider{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
.sliderwsn{
    height: 670px;
  }
.sliderarchi{
    height: 500px;
  }
.slider_advancedarchi{
    height: 625px;
  }


  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  .navigation-manual-wsn{
    margin-top: 80px;
  }
  .navigation-manual-advanced-archi{
    margin-top: 80px;
  }
 
  
  .manual-btn{
    border: 2px solid #007bff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #007bff;
  }
  
  #radio-aos1:checked ~ .first{
    margin-left: 0;
  }
  #radio-aos2:checked ~ .first{
    margin-left: -20%;
  }
  #radio-aos3:checked ~ .first{
    margin-left: -40%;
  }
 

  #radiowsn1:checked ~ .first{
    margin-left: 0;
  }
  #radiowsn2:checked ~ .first{
    margin-left: -20%;
  }
  #radiowsn3:checked ~ .first{
    margin-left: -40%;
  }
  #radiowsn4:checked ~ .first{
    margin-left: -60%;
  }

  #radioarchi1:checked ~ .first{
    margin-left: 0;
  }
  #radioarchi2:checked ~ .first{
    margin-left: -20%;
  }
  #radioarchi3:checked ~ .first{
    margin-left: -40%;
  }
  #radioarchi4:checked ~ .first{
    margin-left: -60%;
  }

  #radioadvancedarchi1:checked ~ .first{
    margin-left: 0;
  }
  #radioadvancedarchi2:checked ~ .first{
    margin-left: -20%;
  }
  #radioadvancedarchi3:checked ~ .first{
    margin-left: -40%;
  }
  #radioadvancedarchi4:checked ~ .first{
    margin-left: -60%;
  }
  #radioadvancedarchi5:checked ~ .first{
    margin-left: -80%;
  }

  #radiodsbank1:checked ~ .first{
    margin-left: 0;
  }
  #radiodsbank2:checked ~ .first{
    margin-left: -20%;
  }
  #radiodsbank3:checked ~ .first{
    margin-left: -40%;
  }

  
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  .navigation-auto-wsn{
    margin-top: 580px;
  }
  .navigation-auto-advanced-archi{
    margin-top: 580px;
  }
  
  
  .navigation-auto div{
    border: 2px solid #007bff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio-aos1:checked ~ .navigation-auto .auto-btn1{
    background: #007bff;
  }
  #radio-aos2:checked ~ .navigation-auto .auto-btn2{
    background: #007bff;
  }
  #radio-aos3:checked ~ .navigation-auto .auto-btn3{
    background: #007bff;
  }


  #radiowsn1:checked ~ .navigation-auto .auto-btn1{
    background: #007bff;
  }
  #radiowsn2:checked ~ .navigation-auto .auto-btn2{
    background: #007bff;
  }
  #radiowsn3:checked ~ .navigation-auto .auto-btn3{
    background: #007bff;
  }
  #radiowsn4:checked ~ .navigation-auto .auto-btn4{
    background: #007bff;
  }

  #radioarchi1:checked ~ .navigation-auto .auto-btn1{
    background: #007bff;
  }
  #radioarchi2:checked ~ .navigation-auto .auto-btn2{
    background: #007bff;
  }
  #radioarchi3:checked ~ .navigation-auto .auto-btn3{
    background: #007bff;
  }
  #radioarchi4:checked ~ .navigation-auto .auto-btn4{
    background: #007bff;
  }


  #radioadvancedarchi1:checked ~ .navigation-auto .auto-btn1{
    background: #007bff;
  }
  #radioadvancedarchi2:checked ~ .navigation-auto .auto-btn2{
    background: #007bff;
  }
  #radioadvancedarchi3:checked ~ .navigation-auto .auto-btn3{
    background: #007bff;
  }
  #radioadvancedarchi4:checked ~ .navigation-auto .auto-btn4{
    background: #007bff;
  }
  #radioadvancedarchi5:checked ~ .navigation-auto .auto-btn4{
    background: #007bff;
  }


  #radiodsbank1:checked ~ .navigation-auto .auto-btn1{
    background: #007bff;
  }
  #radiodsbank2:checked ~ .navigation-auto .auto-btn2{
    background: #007bff;
  }
  #radiodsbank3:checked ~ .navigation-auto .auto-btn3{
    background: #007bff;
  }

  /* above are for img slider */
