.header_icon {
    width: 30px;
}
.header_gitbook_icon {
    width: 120px;
}

h2 {
    font-weight: 900;
    font-style: italic;
    text-decoration: underline overline;
}
h4 {
    text-decoration: underline overline;
}

.research_interests {
    font-style: italic;
}

.col-sm-8 img{
    width: 40%;
}


footer {
    text-align: center;
    color: gainsboro;
    background-color:#e9ecef;
    margin: 0 0 0;
}
footer p {
    margin-bottom: 0;
}

footer a {
    opacity: 0.5;
}